<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Истории о людях, которые смогли</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
</head>
<body>  
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-md-6 col-lg-1">
                    <div class="small-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>    
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="">о проекте</a></li>
                            <li><a href="">связаться с редакцией</a></li>
                            <li><a href="">правила публикации</a></li>
                            <li><a href="">предложить историю</a></li>
                        </ul>
                    </div>
                </div> 
                <div class="col-10 col-md-6 col-lg-3">
                    <div class="logo"><a href="/">zmojam.com</a></div>
                </div>
                <div class="col-5 col-md-6 col-lg-2">
                    <div class="slogan">Реальные истории о людях, которые смогли...</div>
                </div>
                <div class="col-7 col-md-6 col-lg-3">
                    <button type="button" class="tell-btn" data-toggle="modal" data-target="#tell-story">
                    рассказать историю </button>
                </div>
                <div class="col-8 col-md-6 col-lg-2">
                    <div class="write-me"><a href="" data-toggle="modal" data-target="#write-me">Подписаться на истории</a></div>
                </div>   
                <div class="col-4 col-md-6 col-lg-1">
                    <a href="" class="lang">EN</a>
                </div>

            </div>
        </div>    
    </header>
    <content class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="">Главная</a></li>
                            <li class="active"><a href="">Страница</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="content-wrap">
                        <h1>Орфей и Эвридика</h1>
                        <div class="song"><a href="#">Прослушать</a></div>
                        <p>Однажды Орфей и Эвридика были в лесу. Орфей играл на своей семиструнной кифаре и пел. Эвридика собирала цветы на полянах. Незаметно она отошла далеко от мужа, в лесную глушь. Вдруг ей почудилось, что кто-то бежит по лесу, ломая сучья, гонится за ней, она испугалась и, бросив цветы, побежала назад, к Орфею. Она бежала, не разбирая дороги, по густой траве и в стремительном беге ступила в змеиное гнездо. Змея обвилась вокруг её ноги и ужалила. Эвридика громко закричала от боли и страха и упала на траву.</p>
                        <p>Однажды Орфей и Эвридика были в лесу. Орфей играл на своей семиструнной кифаре и пел. Эвридика собирала цветы на полянах. Незаметно она отошла далеко от мужа, в лесную глушь. Вдруг ей почудилось, что кто-то бежит по лесу, ломая сучья, гонится за ней, она испугалась и, бросив цветы, побежала назад, к Орфею. Она бежала, не разбирая дороги, по густой траве и в стремительном беге ступила в змеиное гнездо. Змея обвилась вокруг её ноги и ужалила. Эвридика громко закричала от боли и страха и упала на траву.</p>
                        <p class="border-g"><img src="img/pic4.jpg" alt=""></p>
                         <p>Однажды Орфей и Эвридика были в лесу. Орфей играл на своей семиструнной кифаре и пел. Эвридика собирала цветы на полянах. Незаметно она отошла далеко от мужа, в лесную глушь. Вдруг ей почудилось, что кто-то бежит по лесу, ломая сучья, гонится за ней, она испугалась и, бросив цветы, побежала назад, к Орфею. Она бежала, не разбирая дороги, по густой траве и в стремительном беге ступила в змеиное гнездо. Змея обвилась вокруг её ноги и ужалила. Эвридика громко закричала от боли и страха и упала на траву.</p>
                        <div class="">Поделиться историей в
                            <div class="soc-seti">
                                <a href="" alt="'"><img src=""></a>
                                <a href="" alt="'"><img src=""></a>
                                <a href="" alt="'"><img src=""></a>
                                <a href="" alt="'"><img src=""></a>
                                <a href="" alt="'"><img src=""></a>
                            </div>  
                        </div>
                        <div class="read-all"><a href="">Следующая история</a></div>
                    </div>    
                </div>    
                <div class="col-12 col-md-4 col-lg-3 sidebar">
                    <div class="tags-history">
                        <h3>Теги для историй</h3>
                        <ul>
                            <li><a href="">Метка 1</a></li>
                            <li><a href="">Метка 1</a></li>
                            <li><a href="">Метка 1</a></li>
                            <li><a href="">Метка 1</a></li>
                            <li><a href="">Метка 1</a></li>
                        </ul>
                    </div> 
                    <div class="write-avtor">
                        <p>текст пояснение для формы связи с редакцией</p>
                        <div class="read-all"><a href="">Написать автору</a></div>
                    </div>
                </div>  
            </div>
        </div>
    </content>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-2">
                    <div class="logo-footer"><a href="/">zmojam.com</a></div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="slogan-footer">“пусть в твоей душе будет место для тепла и надежды”</div>
                </div>
                <div class="col-12 col-md-6 col-lg-7">
                    <ul class="menu-footer">
                        <li><a href="">о проекте</a></li>
                        <li><a href="">связаться с редакцией</a></li>
                        <li><a href="">правила публикации</a></li>
                        <li><a href="">предложить историю</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </footer>
    
</body>