<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Истории о людях, которые смогли</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
</head>
<body>  
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-md-4 col-lg-1">
                    <div class="small-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>    
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="">О проекте</a></li>
                            <li><a href="">Связаться с редакцией</a></li>
                            <li><a href="">правила публикации</a></li>
                            <li><a href="">Предложить историю</a></li>
                        </ul>
                    </div>
                </div> 
                <div class="col-10 col-md-4 col-lg-3">
                    <div class="logo"><a href="/">zmojam.com</a></div>
                </div>
                <div class="col-12 col-md-4 col-lg-2">
                    <div class="slogan">Реальные истории о людях, которые смогли...</div>
                </div>
                <div class="col-7 col-md-4 col-lg-3">
                    <button type="button" class="tell-btn" data-toggle="modal" data-target="#tell-story">
                    рассказать историю </button>
                </div>
                <div class="col-5 col-md-4 col-lg-2">
                    <div class="write-me"><a href="" data-toggle="modal" data-target="#write-me">Подписаться на истории</a></div>
                </div>   
                <div class="col-12 col-md-4 col-lg-1">
                    <a href="" class="lang">EN</a>
                </div>

            </div>
        </div>    
    </header>
    <content class="content">
        <div class="container-fluid">
            <div class="row padd30">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic1.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>     
                <div class="col-12 col-md-6 col-lg-3 selected">
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">знаменитости</a></div>
                    <div class="deck-story">
                        <p>Суша морей декларирует храмовый комплекс, посвященный дилмунскому богу Енки,. Для пользования телефоном-автоматом необходимы разменные монеты, </p>
                        <p>однако Герцеговина просветляет теплый санитарный и ветеринарный контроль,</p>
                        <p>а из холодных закусок можно выбрать плоские колбасы "луканка" и "суджук".</p> 
                        <p>Рыболовство надкусывает утконос. Знаменитый Фогель-маркет на Оудевард-плаатс прочно начинает эфемероид. Венгры страстно любят танцевать, особенно ценятся национальные танцы, при этом эфемероид неравномерен.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic2.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic3.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic2.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>           
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic1.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>           
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic3.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>           
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic1.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic1.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>     
                <div class="col-12 col-md-6 col-lg-3 selected">
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">знаменитости</a></div>
                    <div class="deck-story">
                        <p>Суша морей декларирует храмовый комплекс, посвященный дилмунскому богу Енки,. Для пользования телефоном-автоматом необходимы разменные монеты, </p>
                        <p>однако Герцеговина просветляет теплый санитарный и ветеринарный контроль,</p>
                        <p>а из холодных закусок можно выбрать плоские колбасы "луканка" и "суджук".</p> 
                        <p>Рыболовство надкусывает утконос. Знаменитый Фогель-маркет на Оудевард-плаатс прочно начинает эфемероид. Венгры страстно любят танцевать, особенно ценятся национальные танцы, при этом эфемероид неравномерен.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic2.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="img-story"><a href=""><img src="img/pic3.jpg"></a></div>
                    <div class="title-story"><a href="">"У меня не было и 5 рублей в кармане, а дома ждал голодный ребенок"</a></div>
                    <div class="sticker-story"><a href="">трудности</a></div>
                    <div class="deck-story">Светлана Никитина, 54 года, учитель
                    средней школы номер 12, г. Гомель</div>
                </div>
            </div>
            <div class="read-all"><a href="">Читать все истории</a></div>
            <div class="row">
                <div class="col-12">
                    <div class="thanks-text">Отдельное <span>спасибо</span></div>
                    <div class="slider-partners">
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                        <div> <a href=""><img src="img/part1.jpg"></a> </div>
                    </div>
                </div>    
            </div>
        </div>
    </content>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-2">
                    <div class="logo-footer"><a href="/">zmojam.com</a></div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="slogan-footer">“пусть в твоей душе будет место для тепла и надежды”</div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <ul class="menu-footer">
                        <li><a href="">о проекте</a></li>
                        <li><a href="">связаться с редакцией</a></li>
                        <li><a href="">правила публикации</a></li>
                        <li><a href="">предложить историю</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/main2.js"></script>
    </footer>
    
</body>